In [18]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df3 = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [20]:
## Ans 1
print(df3.loc[1])

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

The main difference between `loc` and `iloc` in pandas DataFrame lies in the way they access data:

- `loc` is a label-based data selection method which means that we have to pass the name of the row or column which we want to select. This method includes the last element of the range passed in it, unlike `iloc`. `loc` can accept boolean data.

- `iloc` is an index-based selection method which means that we have to pass integer index in the method to select specific rows/columns. This method does not include the last element of the range passed in it, unlike `loc`. `iloc` does not accept boolean data.

Here is an example to illustrate the difference:

In [21]:
import pandas as pd

# Create a DataFrame
df2 = pd.DataFrame({
    'A': range(1, 6),
    'B': range(6, 11),
    'C': range(11, 16)
}, index=['a', 'b', 'c', 'd', 'e'])

print("Original DataFrame:")
print(df2)

print("\nSelect rows with labels 'a' through 'c' using loc:")
print(df2.loc['a':'c'])

print("\nSelect first 3 rows using iloc:")
print(df2.iloc[0:3])


#In this code, `df.loc['a':'c']` selects the rows with labels 'a' through 'c', inclusive. `df.iloc[0:3]` selects the first 3 rows, exclusive of the end index¹²³⁴⁵.

Original DataFrame:
   A   B   C
a  1   6  11
b  2   7  12
c  3   8  13
d  4   9  14
e  5  10  15

Select rows with labels 'a' through 'c' using loc:
   A  B   C
a  1  6  11
b  2  7  12
c  3  8  13

Select first 3 rows using iloc:
   A  B   C
a  1  6  11
b  2  7  12
c  3  8  13

In [25]:
## Ans 3 

new_df = df3.reindex([3,0,1,2])

In [26]:
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [30]:
new_df.iloc[2]

## we can see that when we pass .iloc it takes the Data from the row and gives the Output

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [29]:
new_df.loc[2]


## we can see that when we pass .loc it will take the index values and get the Output .

course_name    Big Data
duration              6
Name: 2, dtype: object

In [31]:
##Ans 4 

import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [32]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.796364  0.399143  0.796427  0.874523  0.876443  0.416199
2  0.088811  0.749592  0.366960  0.601905  0.047332  0.154445
3  0.992021  0.131933  0.004577  0.545877  0.063561  0.417860
4  0.715093  0.603132  0.771016  0.803647  0.200674  0.331691
5  0.131220  0.960922  0.352386  0.589647  0.130610  0.763573
6  0.824366  0.712185  0.872483  0.445976  0.706406  0.059876

In [34]:
## Ans 4(1): mean of each coloum 

df1['column_1'].mean()

0.5913125109812831

In [35]:
df1['column_2'].mean()

0.5928179273265618

In [36]:
df1['column_3'].mean()

0.5273080210931083

In [37]:
df1['column_4'].mean()

0.6435959477957067

In [38]:
df1['column_5'].mean()

0.3375044115413992

In [39]:
df1['column_6'].mean()

0.35727394971201604

In [41]:
## Ans4(ii)

df1['column_2'].std()

0.2913274997055358

In [44]:
##Ans 5 

df1.loc[2 , 'column_2']= 'Bishu'

In [45]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.796364  0.399143  0.796427  0.874523  0.876443  0.416199
2  0.088811     Bishu  0.366960  0.601905  0.047332  0.154445
3  0.992021  0.131933  0.004577  0.545877  0.063561  0.417860
4  0.715093  0.603132  0.771016  0.803647  0.200674  0.331691
5  0.131220  0.960922  0.352386  0.589647  0.130610  0.763573
6  0.824366  0.712185  0.872483  0.445976  0.706406  0.059876

In [46]:
df1['column_2'].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

However, this code will result in an error when trying to find the mean of column ‘column_2’. This is because the mean function cannot be applied to a column that contains a string value. The mean function can only be applied to numeric data. In this case, the column ‘column_2’ contains the string ‘string’, so the mean function cannot be applied to this column.

Ans 6 
Pandas supports four types of windowing operations12:

Rolling window: This is a generic fixed or variable sliding window over the values. It’s like a moving average or moving sum. For example, if you want to calculate the sum of every three consecutive numbers in a column, you would use a rolling window of size .

Weighted window: This is a weighted, non-rectangular window supplied by the scipy.signal library. It allows for more complex window shapes than the standard rectangular shape.

Expanding window: This is an accumulating window over the values. It starts at the beginning of the time series and expands as it moves forward. For example, if you want to calculate a running total of a column, you would use an expanding window.

Exponentially Weighted window: This is an accumulating and exponentially weighted window over the values. It applies more weight to recent observations and less weight to older observations.

Each of these window types has its own use cases and can be used depending on the specific requirements of your data analysis. Note that windowing operations currently only support numeric data (integer and float) and will always return float values.

In [49]:
##Ans 7 

from datetime import datetime

#Get the current date and time
now = datetime.now()

#print the current month and Year

print('Current Month:',now.month)
print("Current year:", now.year)

Current Month: 12
Current year: 2023

In [63]:
##Ans 8 

date1 = input("Enter the first date (in the format YYYY-MM-DD): ")
date2 = input("Enter the second date (in the format YYYY-MM-DD): ")

date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)

td1 = pd.Timedelta(days = 1 , hours = 10 , minutes =50 )
td2 = pd.Timedelta(days = 1 , hours = 15 , minutes =60)

new_date1 = date1 + td1
new_date2 = date2 + td2

diff = abs(new_date2 - new_date1)

print("Total difference in time " , diff)

Enter the first date (in the format YYYY-MM-DD):  2023-12-06
Enter the second date (in the format YYYY-MM-DD):  2023-12-21

Total difference in time  15 days 05:10:00

In [66]:

##Ans 9 
import pandas as pd

# Prompt the user to enter the file path, column name, and category order
file_path = input("Enter the file path: ")
column_name = input("Enter the column name: ")
category_order = input("Enter the category order (separated by commas): ")

# Convert the category order to a list
category_order = category_order.split(',')

# Read the CSV file
df = pd.read_csv(file_path)

# Convert the specified column to a categorical data type
df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)

# Sort the data
df = df.sort_values(by=column_name)

# Display the sorted data
print(df)

Enter the file path:  taxonomy.csv.xls
Enter the column name:  taxonomy_id
Enter the category order (separated by commas):  101-02-01,101-02-02,101-02-03,101-02-04

    taxonomy_id                          name parent_id           parent_name
3     101-02-01             Help Pay for Food    101-02        Emergency Cash
4     101-02-02       Help Pay for Healthcare    101-02        Emergency Cash
5     101-02-03          Help Pay for Housing    101-02        Emergency Cash
6     101-02-04              Help Pay for Gas    101-02        Emergency Cash
0           NaN                     Emergency       NaN                   NaN
..          ...                           ...       ...                   ...
285         NaN              Workplace Rights    111-01  Advocacy & Legal Aid
286         NaN                     Mediation       111                 Legal
287         NaN                        Notary       111                 Legal
288         NaN                Representation       111                 Legal
289         NaN  Translation & Interpretation       111                 Legal

[290 rows x 4 columns]

In [ ]:
##Ans 10 

import pandas as pd
import matplotlib.pyplot as plt

# Prompt the user to enter the file path
file_path = input("Enter the file path: ")

# Read the CSV file
df = pd.read_csv(file_path)

# Pivot the data for the stacked bar chart
pivot_df = df.pivot(index='TransactionDate', columns='Product_Category', values='Sales')

# Plot the stacked bar chart
pivot_df.plot(kind='bar', stacked=True)

# Display the chart
plt.show()

In [2]:
##Ans 11

import pandas as pd
from tabulate import tabulate

# Prompt the user to enter the file path
file_path = input("Enter the file path of the CSV file containing the student data: ")

# Read the CSV file into a Pandas DataFrame
df = pd.read_csv(file_path)

# Calculate the mean, median, and mode of the test scores
mean = df['Test Score'].mean()
median = df['Test Score'].median()
mode = df['Test Score'].mode().tolist()

# Prepare the results for display in a table
results = [
    ['Mean', mean],
    ['Median', median],
    ['Mode', mode]
]

# Display the results in a table
print(tabulate(results, headers=['Statistic', 'Value']))

Enter the file path of the CSV file containing the student data:  Student.csv

Statistic    Value
-----------  -------
Mean         83.5
Median       85.0
Mode         [85]